<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - kentaasvang.Blog</title>
</head>
<body>

<nav>
    <a asp-page="/Admin/Dashboard"> Dashboard </a>
    <a asp-page="/Admin/BlogPosts"> BlogPosts </a>
</nav>

@RenderBody()

</body>
</html>